

body {
  background-color: black;
    background-size:contain;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  .game-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    touch-action: none;
    user-select: none;
    -webkit-user-select: none;
    position: relative;
    width: 100%;
    height: 100%;
  }
  .gameboy {
    position: relative;
    display: block;
    margin: 20px auto;
    width: calc(422px * 0.85);
    height: calc(697px * 0.85);
    background: #EEE;
    border-radius: 10px 10px 60px 10px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.1);

  }

  .gameboy:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 31px;
    border-bottom: 4px solid #c2c1c1;
  }

  .gameboy:after {
    content: "";
    position: absolute;
    top: 0;
    width: calc(334px * 0.85);
    height: calc(31px * 0.85);
    border-left: 4px solid #c2c1c1;
    border-right: 4px solid #c2c1c1;
    margin-left: calc(40px * 0.85);
    margin-right: calc(40px * 0.85);
  }

  canvas {
    border: 15px solid #02eea3;
    border-radius: 8px;
    background-image: url('./icons/background3.jpg');
    width: 79%;
    position: relative;
    top: 7%;
  }

  .canvasPause{
  border: 15px solid #6937ff;
  border-radius: 8px;
  background-image: url('./icons/background3.jpg');
  width: 79%;
  position: relative;
  top: 7%;
  filter: brightness(0.6);
  }

  .btns {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
    margin-right: 180px;
   margin-top: 25px;
  }

  button {
    background-color: #313131;
    border-radius: 8px;
    border-color: #151515;
    font-family: inherit;
    margin: 0;
    padding: 6px 6px;
    cursor: pointer;
    }

  .arrowUp{
    height: 20px;
    width: 25px;
  }
  .arrowLeft{
    height: 20px;
    width: 25px;
  }

  .arrowRight{
    height: 20px;
    width: 25px;
  }

  .arrowDown{
    height: 20px;
    width: 25px;
  }

  .btn-AB {
    position: absolute;
    top: 410px;
    left: 200px;
    width: 110px;
    height: 50px;
    background: #d4d3d3;
    border-radius: 30px;
    transform: rotate(-25deg);
    display: flex;
    flex-direction: row;
    align-items:center;
    flex-direction: center;
  }
  .btnA{
    background-color: #02eea3;
    border-color:#00ffae;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    cursor: pointer;
  }
  .btnB{
    background-color: #02eea3;
    border-color:#00ffae;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    cursor: pointer;
  }

  .btnAPause{
    background-color:#6002ee;
    border-color:#3603c3;
    width: 25px;
    height: 25px;
    border-radius: 100%;
  }
  .btnBPause{
    background-color:#6002ee;
    border-color:#3d03c4;
    width: 25px;
    height: 25px;
    border-radius: 100%;
  }

  .restartText{
    font-size: 8px;
    margin-top: 90px;
    display: block;
    margin-left: 105px;
    transform: rotate(-20deg);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:900;
    color: rgb(27, 27, 27);

  }


  .pauseText{
    font-size: 8px;
    margin-top: 55px;
    display: block;
    margin-left: 10px;
    transform: rotate(-20deg);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:900;
    color: rgb(27, 27, 27);

  }

 .speakers{
  content: "";
  position: relative;
  height: 40px;
  width: 4px;
  left: 160px;
  top: 23px;
  margin-bottom: 30px;
  background: #c2c1c1;
  border-radius: 4px;
  transform: rotate(-25deg);
  box-shadow: 15px 0 #c2c1c1, 30px 0 #c2c1c1, 45px 0 #c2c1c1, 60px 0 #c2c1c1;
 }

.fakeBtn{
  content: "";
  position: relative;
  height: 30px;
  width: 8px;
  left: 38px;
  top: 25px;
  background: #434141;
  border-radius: 4px;
  transform: rotate(-110deg);
  box-shadow: 15px 0 #c2c1c1, 30px 0 #c2c1c1,

}
.fakeBtn2{
  content: "";
  position: relative;
  height: 30px;
  width: 8px;
  left: 65px;
  top: 25px;
  background: #434141;
  border-radius: 4px;
  transform: rotate(-110deg);
  box-shadow: 15px 0 #c2c1c1, 30px 0 #c2c1c1,

}

.messages{
  margin-top: 20px;
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  gap: 45px;
  margin-right: 65px;
  height: 12px;
  margin-top: 30px;
  margin-bottom: 5px;
}


.record{
  font-family: 'Press Start 2p', cursive;
font-weight: 100;
font-size: 12px;
margin:20px auto;
width: calc(422px*0.85);
}
.time{
  font-family: 'Press Start 2p', cursive;
  font-size: 12px;
  font-weight:lighter;
  height: 12px;
}

.result{
  font-family: 'Press Start 2p', cursive;
  font-size: 10px;
  font-weight:lighter;
}

.brand{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;;
  gap: 4px;
  height: 12px;
  margin-top: 50px;
  margin-right: 50px;

}
.brandname{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight:900;
  font-size: 12px;
  color: rgb(27, 27, 27);

}

.rocket{
  height: 12px;
  width: 12px;
}

  @media (max-width: 2020px) {
    button { margin-right: 15px; margin-left: 15px; }
    #up, #down { margin-left: 100%; margin-right: 100%; }
  }
